body{
    background-color:rgba(0, 255, 255, 0.459)

}
header{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 510px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.288);
    margin-top: 100px;
    height: 400px
    
    }
    h1{
        text-align: center;
    }
    label{
        text-align: center;
        
    }
    p{
        text-align: center;
        font: normal 15pt italic;
    }